html {
  height: 100%;
  width: 100%;
}

h1 {
  color: #ff5e00;
  text-shadow: 2px 2px 2px black;
  font-family: "Bungee Shade", cursive;
  text-align: center;
  font-size: 70px;
  cursor:pointer;
}

h2 {
  text-align: center;
  font-weight: bold;
}

.contents {
  display: none;
  position: relative;
  background-color: white;
  border-style: double;
  border-radius: 5px;
  border-color: #7576f3;
  color: black;
  margin: 40px;
  border-spacing: 10px;
  padding-left: 10px;
  cursor: pointer;
}

.show {
  display: block;
}

.storeType {
  text-align: center;
  display: block;
  background-color: #7575d7;
  padding: 30px;
  margin: 30px;
}

.contact {
  text-align: center;
  font-size: 15px;
  padding: 40px;
  margin: 20px;
  background-color: #80c5f9;
}